{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/delete.css' %}">

<div class="wrapper">
    <div class="card-header">
        <h1>Czy napewno chcesz usunąć "{{ item }}"?</h1>
    </div>
    <div class="item-row">
        <form method="POST" action="">
            {% csrf_token %}
            <input class="btn btn-outline-danger" type="submit" value="Potwierdź" name="Task Delete">
        </form>
        <a class="btn btn-outline-dark" href="{% url 'task_list' %}/">Anuluj</a>
    </div>
</div>


